import Zx{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Zx{{properCase name}}',
  component: Zx{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Zx{{properCase name}} },
  template: `
    <div>
      <zx-{{name}}></zx-{{name}}>
    </div>
  `
})
